body{
    color: #222;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.container {
    display: flex;
    border-radius: 2vh;
    border: 1.5vh solid gray;
}

.reloj {
    display: flex;
    background: linear-gradient(#111, #666);
    border: 0.4vh solid #000;
    border-radius: 0.7vh;
    width: 15vw;
    height: 10vh;
    min-width: 20vw;
    min-height: 0.75vh;
    overflow: hidden;
}

.reloj div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 0.5px;
    border: 0.5px solid #000;
    text-align: center;
    color: #fff;
    padding: 1vh 1vh;
    font-size: 7vh;
    font-family: monospace;

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
    }

    .reloj {
        width: 100%;
        height: auto;
    }

    .reloj div {
        font-size: 15vw;
    }
}